.auth__title {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    padding: 40px 0 40px;
}

@media screen and (min-width: 768px) {
    .auth__title {
        padding-top: 60px;
        padding-bottom: 50px;
        font-size: 24px;
        line-height: 29px;
    }
}