.auth__submit-button {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 14px 35px 13px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .auth__submit-button {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 14px;
    }
}